<head>
    <div class="header">
        <h1>Brain Games</h1>
        <h2>Welcome to the Game Menu!</h2>
    </div>
</head>
<h1>Brain Games</h1>
<body>
    <div class="Game-Wrapper">
        <div class="nested">
            <div class="game">
                <h3>Meditation</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/MeditationIcon2.png" class="image" />
                    <div class="middle"><button class="button1" [routerLink]="['/meditation']">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Mediation Playlist</p>
                <div class="game-description">
                    <p>Calm your mind with multiple tracks varying from a guided mediation to the sounds of rain and waves</p>
                </div>
            </div>
            <div class="game">
                <h3>Match</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/MemoryIcon1Photo.png" class="image" />
                    <div class="middle"><button class="button1" [routerLink]="['/match']">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Match</p>
                <div class="game-description">
                    <p>Increase your memory by matching as many pictures as you can</p>
                </div>
            </div>
            <div class="game">
                <h3>Reaction</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/ReactionIcon1Photo.png" class="image" />
                    <div class="middle"><button class="button1" [routerLink]="['/garden']">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Save The Garden</p>
                <div class="game-description">
                    <p>Elevate your reaction time by click on the events as fast as possible to save the flower!</p>
                </div>
            </div>
            <div class="game">
                <h3>Concentration</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/FocusIcon1.png" class="image" />
                    <div class="middle"><button class="button1" [routerLink]="['/concentration']">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>The Cup Game</p>
                <div class="game-description">
                    <p>Follow the cup that holds the ball and guess which one its in</p>
                </div>
            </div>
            <div class="game">
                <h3>Strategy</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/StratIcon2Photo.png" class="image" />
                    <div class="middle"><button class="button1">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Chess</p>
                <div class="game-description">
                    <p>Sharpen your mind by playing an ai in a game of chess (Currently Under Construction)</p>
                </div>
            </div>
            <div class="game">
                <h3>Typing</h3>
                <hr>
                <div class="game-pic">
                    <img src="assets/img/TypingIcon1.png" class="image" />
                    <div class="middle"><button class="button1" [routerLink]="['/typing']">Play</button><button class="button1">Leaderboards</button></div>
                </div>
                <p>Speed Typing</p>
                <div class="game-description">
                    <p>Enhance your typing speed</p>
                </div>
            </div>
        </div>
    </div>
</body>
