table, td, th {
  border: 1px solid black;
}

table {
  width: 90%;
  border-collapse: collapse;
}

th{
    background-color:orange;
}

table {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

