<div class="container" style="background-color:rgba(242, 237, 237);border: 2px solid;padding: 10px 20px;">
    <div class="row">
        <div class="col-sm-8" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-left: 5px;">
            <h2 class="text-center">
                User Name
            </h2>
        </div>
        <div class="col-sm-1" style="margin-right: 20px">
            <ul class="navbar-nav">
                <li class="nav">
                    <a class="nav-link text-light btn btn-success" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-1">
            <ul class="navbar-nav">
                <li class="nav">
                    <a class="nav-link text-light btn btn-primary" [routerLink]='["/setting"]' [state]='{ local: true }' title="Setting">Setting</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="        background-color: lightgray;
        border: 2px solid;
        padding: 10px 20px;
        margin-top: 10px;
        margin-left: 5px;">
            <h2 class="text-left">Skill Web: <span>Image</span></h2>
        </div>
        <div class="col-sm-4" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-top:10px; margin-left:5px;">
            <h2 class="text-left">
                Skill
                <span class="justify-content-center">
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;"> Rank</a>
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">Percentile</a>
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
        <div class="col-sm-3" style="background-color: lightgray;
        margin-left: 15px;
        border: 2px solid;
        padding: 10px 20px;
        margin-top:10px;">
            <h2 class="text-left">
                Score
                <span class="justify-content-center">
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;"> 2</a>
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-top:10px; margin-left:5px;">
            <h2 class="text-left">
                BEST SKILL
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;"> TEST</a>
                    
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
        <div class="col-sm-4" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-top:10px; margin-left:5px;">
            <h2 class="text-left">
                Focus
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#31</a>
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#20</a>
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
        <div class="col-sm-3" style="background-color: lightgray;
        margin-left: 15px;
        border: 2px solid;
        padding: 10px 20px;
        margin-top:10px;">
            <h2 class="text-left">RANK
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#31</a>
                            
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-top:10px; margin-left:5px; height: 120px">
            <h2 class="text-left">
                MOST IMPROVED
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;"> TEST</a>
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
        <div class="col-sm-4" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-top:10px; margin-left:5px;">
            <h2 class="text-left">
                Memory
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#31</a>
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#20</a>
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
        <div class="col-sm-3" style="background-color: lightgray;
        margin-left: 15px;
        border: 2px solid;
        padding: 10px 20px;
        margin-top:10px;">
            <h2 class="text-left">Score:
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#31</a>
                 
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-top:10px; margin-left:5px; height: 120px">
            <h2 class="text-left">
                TOTAL PLAYTIME:
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;"> TEST</a>

                        </li>
                    </ul>
                </span>
            </h2>
        </div>
        <div class="col-sm-4" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-top:10px; margin-left:5px; height: 120px">
            <h2 class="text-left">
                Reflexes:
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#31</a>
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#20</a>
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="margin-left:5px">
           
        </div>
        <div class="col-sm-4" style="background-color: lightgray;border: 2px solid;padding: 10px 20px; margin-top:10px; margin-left:5px;">
            <h2 class="text-left">
                Strategy:
                <span>
                    <ul class="navbar-nav" id="skills">
                        <li class="nav">
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#31</a>
                            <a class="nav-link text-dark btn btn-primary" style="width:100px; margin-right:5px; background-color:white;">#20</a>
                        </li>
                    </ul>
                </span>
            </h2>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
    <div class="row">
        <div class=" col-sm-12">
            <app-leaderboard></app-leaderboard>
        </div>
    </div>

</div>